{
  "htmlWhitespaceSensitivity": "ignore",
  "jsonRecursiveSort": true,
  "jsonSortOrder": "{\"/.*/\": \"caseInsensitiveNumeric\"}",
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": [
    "prettier-plugin-sort-json",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 88,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5"
}
